[submodule "handmade-hero-game"]
	path = games/handmade-hero-game
	url = git@github.com:DreamEcho100/handmade-hero-game.git
[submodule "ai-llm-knowledge-dump-2"]
	path = ai-llm-knowledge-dump-2
	url = git@github.com:DreamEcho100/ai-llm-knowledge-dump-private
