# Build outputs
build/
out/
*.o
*.so
*.a
*.exe
*.out

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Compiled binaries
handmade_hero
day002_x11
day002_raylib

# Logs
*.log

#
_ignore/**
*/**/_ignore

# 
test-game-in-raylib